gen
examples/gpio/blink
examples/gpio/trigger
examples/w1-test/w1-test
examples/bin2cpp/bin2cpp
examples/ads111x/ads111x
examples/hx711/hx711
examples/json-tolerant-parser/jtp
examples/dcf77-gpio/dcf77-gpio
examples/neopixel-spi-driver/neopixel-spi-driver
src/**/*.Makefile
*.rpm
vgcore.*
